.ReplyListItem{
  border: 0.5em solid white;
  padding: 1em;

  display: grid; //can build two dimensional structure
  grid-template-areas: 
   "profile reply"
   "name reply";

  img{
    grid-area: profile;
    height: 10em;
    border-radius: 50%;
    aspect-ratio: 1 / 1; //make round shape (not medallion oval shape)
  }

  h1{
    grid-area: name;
  }

  p{
    padding: 1em;
    grid-area: reply;
    font-size: 1.5em;
  }
}